/* This is a single-line comment */
body {
  margin: 0;
  background-color:#FFFAF0;
  font-family: "Helvetica", sans-serif;
}

h1 {color:#008B8B;
  font-family: "Helvetica", sans-serif;
}

h2 {
  color:#20B2AA;
  font-family: "Helvetica", sans-serif;
}

h3 {
  color:#8FBC8F;
  font-family: "Helvetica", sans-serif;
}

p {
  color: black;
  font-family: "Helvetica", sans-serif;
}

div {
	margin-left: 4%;
	margin-right: 3%;
}

    # Source
    html.Div([
        html.H3("Sources:"),
        html.P("https://www.bfs.admin.ch/bfs/de/home/statistiken/kataloge-datenbanken/tabellen.html"),
        html.H3("Masterminds behind this Project:"),
        html.P("Johanna Koch and Nadja Kaufmann, HSLU-I")
    ]),