/* This is a single-line comment */
body {
  margin: 0;
  background-color:#f2f2f2;
  font-family: "Helvetica", sans-serif;
}

h1 {color:#008B8B;
  font-family: "Helvetica", sans-serif;
}

h2 {
  color:#20B2AA;
  font-family: "Helvetica", sans-serif;
}

h3 {
  color:#8FBC8F;
  font-family: "Helvetica", sans-serif;
}

p {
  color: black;
  font-family: "Helvetica", sans-serif;
}

div {
	margin-left: 4%;
	margin-right: 3%;
}

.sidebar {
	text-decoration: none;
}

	